<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.for_ksh_from_jhy">

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_unlike"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.For_KSH_From_JHY">
        <activity android:name=".Fragment_Main"/>
        <activity android:name=".MyDiary"/>
        <activity android:name=".Spinner_Main"/>
        <activity android:name=".Gallery_Main"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>